.header {
  padding: 10px;
  background-color: var(--color1);
  /* font-family: "Cal sans"; */

  grid-row: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10em;
  align-items: center;
  /* position: sticky; */
  /* top: 0; */
}

.header h1 {
  grid-column: 1;
  font-weight: 100;
}

.header img {
  width: 15em;
}

.navbar img {
  width: 2.5em;
  justify-self: center;
  align-self: center;
}

.header li {
  align-self: center;
  font-size: 1.3rem;

  transition: all 100ms ease-out;
}

.header li a {
  color: var(--color5);
}

.header li:hover {
  transform: scale(1.2);
}

/* .header li:hover a {
  background-color: rgba(255, 255, 255, 0.1);
} */
.activeLink {
  background-color: var(--color2);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  /* color: var(--color2); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav {
  grid-column: 3;
  display: flex;
  align-items: center;
}

.navbar ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navbar ul li:hover,
.navbar img {
  cursor: pointer;
}

/* Responsivity for mobiles */
@media (max-width: 430px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 15em;
    align-items: start;
    justify-content: center;
    width: 100vw;
  }
}
/* Responsivity for tablets */
/* @media (max-width: 430px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 15em;
    align-items: start;
    justify-content: center;
  }
} */
