.cartItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  border: 1px solid black;
  width: 30em;
  padding: 1px 10px;
}

.cartItem img {
  width: 2em;
}

.cartItem img:hover {
  cursor: pointer;
}
