.main {
  background-color: var(--color5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  animation: fadeInUp 0.3s ease-in-out;
}

.main img {
  width: 15em;
  border-radius: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsivity for mobiles */
@media (max-width: 430px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
  }
}
