.home {
  display: flex;

  width: 100vw;

  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.main {
  background-color: var(--color5);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main img {
  width: 15em;
  border-radius: 20px;
}
