.main {
  background-color: var(--color5);
  padding: 10px;
  height: 40em;
  animation: fadeInUp 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: auto;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.itemList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.main button {
  border: 1px solid black;
  width: 10em;
  height: 5em;
  background-color: var(--color2);
}

.main button:hover {
  background-color: var(--color3);
}

.main p {
  border: 1px solid black;
  padding: 10px;
}

/* Mobile responsivness */
@media (max-width: 430px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
  }
}

/* Mobile responsivness */
@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
  }
}
